@using Microsoft.AspNetCore.Identity
@using RIAT.DAL.Entity.Models;
@*@using RIAT.DAL.Entity.Models.Extensions;*@
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer;

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
		<li class="nav-item">
            <a class="nav-link link text-black display-4" asp-area="Identity" asp-page="/Account/Manage/Index"
			   title="Manage" tabindex="-1" aria-disabled="true">@Localizer["Greeting"] @UserManager.GetUserAsync(User).Result.FirstName!</a>
        </li>
		<li class="nav-item">
            <form class="form-inline m-0 navbar-nav" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-link nav-link  link text-black display-4">@Localizer["Logout"]</button>
			</form>
        </li>
    }
    else
    {
		<li class="nav-item">
            <a class="nav-link link text-black display-4" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
        </li>
		<li class="nav-item">
            <a class="nav-link link text-black display-4" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
        </li>
    }
</ul>
