@model IEnumerable<RIAT.DAL.Entity.Models.AlternativaAtendimento>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer;

@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">@Localizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["PatientName"]
            </th>
            <th>
                @Localizer["ProfessionalName"]
            </th>
            <th>
                @Localizer["AppointmentSchedulingDate"]
            </th>
            <th>
                @Localizer["ADLAlternativeCode"]
            </th>
            <th>
                @Localizer["ADLAlternativeName"]
            </th>
            <th>
                @Localizer["ADLAlternativeStatus"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAtendimentoNavigation.PaciIdPacienteNavigation.NomePaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAtendimentoNavigation.ProfIdProfissionalNavigation.NomeProfissional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAtendimentoNavigation.AtenDtAgendamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlternativaAdlNavigation.Codigo)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.IdAlternativaAdlNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
            </td>
        </tr>
        }
    </tbody>
</table>
