@model RIAT.DAL.Entity.Models.Endereco

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Endereco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndeNmLogradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndeNmLogradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndeCdNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndeCdNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndeNmComplemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndeNmComplemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndeNmBairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndeNmBairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndeNmCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndeNmCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaIdSiglaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstaIdSiglaNavigation.EstaIdSigla)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
