@model RIAT.DAL.Entity.Models.Sintoma
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer;
@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>

<div>
    <h1>@ViewData["PageType"]</h1>
    <hr />
    <h3>@Localizer["DeleteThisQuestion"]</h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SintCodSintoma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SintCodSintoma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SintNomeSintoma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SintNomeSintoma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SintDsSintoma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SintDsSintoma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoenIdDoencaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoenIdDoencaNavigation.DoenCodDoenca)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@Localizer["btnDelete"] class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["btnBackList"]</a>
    </form>
</div>
