@model RIAT.DAL.Entity.Models.HistoriaClinica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HistoriaClinica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiclContatoReferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiclContatoReferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiclNmPlanoSaude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiclNmPlanoSaude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiclMotivoConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiclMotivoConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiclDtAtivacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiclDtAtivacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiclDtDesativacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiclDtDesativacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiclStAtivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiclStAtivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAtendimentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAtendimentoNavigation.AtenStAgendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaciIdPacienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaciIdPacienteNavigation.PaciStAtivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
