@model IEnumerable<RIAT.DAL.Entity.Models.HistoriaClinica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HiclContatoReferencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiclNmPlanoSaude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiclMotivoConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiclDtAtivacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiclDtDesativacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiclStAtivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAtendimentoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaciIdPacienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HiclContatoReferencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiclNmPlanoSaude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiclMotivoConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiclDtAtivacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiclDtDesativacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiclStAtivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAtendimentoNavigation.AtenStAgendamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaciIdPacienteNavigation.PaciStAtivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
