@model RIAT.DAL.Entity.Models.Atendimento
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer;
@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="container">
    <div class="row justify-content-center">
        <div class="media-container-column col-lg-8">
            <h1>@ViewData["Title"]</h1>
            <form asp-action="Edit" class="mbr-form form-with-styler">
                <h4>@Localizer["PageType"]</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="hidden" asp-for="ProfIdProfissional" />
                    <label asp-for="ProfIdProfissionalNavigation.NomeProfissional" class="control-label"></label>
                    <input asp-for="ProfIdProfissionalNavigation.NomeProfissional" class="form-control" asp-items="ViewBag.ProfIdProfissional" readonly />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="PaciIdPaciente" />
                    <label asp-for="PaciIdPacienteNavigation.NomePaciente" class="control-label"></label>
                    <input asp-for="PaciIdPacienteNavigation.NomePaciente" class="form-control" asp-items="ViewBag.NomePaciente" readonly />
                </div>
                @*<div class="form-group">
                        <label asp-for="TipaIdTipoAtendimento" class="control-label"></label>
                        <select asp-for="TipaIdTipoAtendimento" class="form-control" asp-items="ViewBag.TipaIdTipoAtendimento"></select>
                        <span asp-validation-for="TipaIdTipoAtendimento" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="AtenDtAgendamento" class="control-label"></label>
                    <input asp-for="AtenDtAgendamento" class="form-control" />
                    <span asp-validation-for="AtenDtAgendamento" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="AtenStAgendamento" class="control-label"></label>
                        <input asp-for="AtenStAgendamento" class="form-control" />
                        <span asp-validation-for="AtenStAgendamento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AtenDtCancelamento" class="control-label"></label>
                        <input asp-for="AtenDtCancelamento" class="form-control" />
                        <span asp-validation-for="AtenDtCancelamento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AtenTxMotivoCancelamento" class="control-label"></label>
                        <input asp-for="AtenTxMotivoCancelamento" class="form-control" />
                        <span asp-validation-for="AtenTxMotivoCancelamento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AtenDtRealizadaInicio" class="control-label"></label>
                        <input asp-for="AtenDtRealizadaInicio" class="form-control" />
                        <span asp-validation-for="AtenDtRealizadaInicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AtenTxObservacoes" class="control-label"></label>
                        <input asp-for="AtenTxObservacoes" class="form-control" />
                        <span asp-validation-for="AtenTxObservacoes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AtenDtRealizadaFim" class="control-label"></label>
                        <input asp-for="AtenDtRealizadaFim" class="form-control" />
                        <span asp-validation-for="AtenDtRealizadaFim" class="text-danger"></span>
                    </div>
                *@
                <div class="form-group">
                    <label asp-for="VideoConferencia" class="control-label"></label>
                    <input asp-for="VideoConferencia" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <div class="col-md-12 input-group-btn align-center">
                        <button type="submit" class="btn btn-primary btn-form display-4">@Localizer["btnSave"]</button>
                    </div>
                </div>
                <div class="form-group">
                    <a asp-action="Index">@Localizer["btnBackList"]</a>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["DiseaseName"]
                </th>
                <th>
                    @Localizer["SymptomName"]
                </th>
                <th>
                    @Localizer["LevelSymptom"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SintomaAtendimentos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DopaIdDoencaPacienteNavigation.DoenIdDoencaNavigation.DoenNmHipotese)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SintIdSintomaNavigation.SintNomeSintoma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SidhCdPeso)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
