@{
    ViewData["Title"] = @Localizer["Title"];
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer;
<br />
@*<div>
        <h1>@ViewData["Title"]</h1>
    </div>
    <div>
        @Localizer["Description1"]<br />
        <img src="~/images/imagem-home-1.jpg" /><br />
        @Localizer["Description2"]<br />
        <img src="~/images/imagem-home-2.jpg" /><br />
        @Localizer["Description3"]<br />
        <img src="~/images/imagem-home-3.jpg" /><br />
        @Localizer["Description4"]<br />
    </div>*@

<section class="cid-smngZG3MCW mbr-fullscreen mbr-parallax-background" id="header2-6">
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-overlay-new mbr-black col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    RIAT contra a Covid-19 (RISM)
                </h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5" style="text-align:justify">
                    A pandemia do coronav&iacute;rus tamb&eacute;m traz consigo uma epidemia em sa&uacute;de mental.&nbsp;
                    Como uma empresa de sa&uacute;de mental que nasceu na Argentina e tamb&eacute;m atua no Brasil, com seus fundadores de Manaus, a RIAT &eacute; inquieta e sempre se questiona sobre o que pode fazer al&eacute;m dos servi&ccedil;os usuais para contribuir com a comunidade.
                    Pensando nisso, criamos um plant&atilde;o de assist&ecirc;ncia psicol&oacute;gica com uma equipe de profissionais em sa&uacute;de mental 24hrs/dia, para receber por meio de chamadas, mensagens, &aacute;udios ou outras formas de contato casos de pessoas que precisam deste atendimento e suporte.
                    Atrav&eacute;s deste app realizamos uma triagem e definimos o tipo de atendimento necess&aacute;rio, priorizando de imediato a conten&ccedil;&atilde;o emocional e as informa&ccedil;&otilde;es relevantes para cada usu&aacute;rio. A partir disso identificamos o tipo de profissional especializado que ir&aacute; atender essa pessoa de forma virtual com agendamento pr&eacute;vio.
                    A RIAT identificou cada usu&aacute;rio dessa solu&ccedil;&atilde;o para mostrar como pode ajud&aacute;-los:
                 	<br /><strong>Pessoas em grupo de risco</strong>: com informa&ccedil;&otilde;es validadas, auxiliamos a implementarem medidas de prote&ccedil;&atilde;o e conscientiza&ccedil;&atilde;o sobre a import&acirc;ncia de adot&aacute;-las. Seremos apoio emocional nos momentos de isolamento, de ang&uacute;stia pela sua sa&uacute;de e de seus familiares, dando suporte emocional nos processos de luto.
                 	<br /><strong>Profissionais da Sa&uacute;de</strong>: ajudaremos a conscientizar da necessidade de tratarem-se por <em>burnout</em>, auxiliando a identificar e combater os primeiros indicadores de estresse, a tolerar a press&atilde;o &agrave; qual est&atilde;o submetidos no ambiente de trabalho e a administrar a ang&uacute;stia com o estado de sa&uacute;de de seus familiares tamb&eacute;m.
                 	<br /><strong>Assintom&aacute;ticos</strong>: promoveremos conscientiza&ccedil;&atilde;o da necessidade de proteger-se, ainda que n&atilde;o apresentem sintomas, damos apoio emocional aos riscos psicol&oacute;gicos do isolamento e, em casos necess&aacute;rios, ajudaremos na elabora&ccedil;&atilde;o de seus lutos.
                    Ademais do trabalho de sa&uacute;de, o suporte psicol&oacute;gico tamb&eacute;m tem um vi&eacute;s social e econ&ocirc;mico na gera&ccedil;&atilde;o e manuten&ccedil;&atilde;o de empregos, pagamento de impostos e aux&iacute;lio aos setores que est&atilde;o desamparados no momento de crise atual que vivemos.
                </p>
            </div>
        </div>
    </div>
</section>


