@page
@model RegisterModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer;

@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="container">
    <div class="row justify-content-center">
        <div class="media-container-column col-lg-8">
            <h1>@ViewData["Title"]</h1>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mbr-form form-with-styler">
                <h4>@Localizer["Description"]</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>@Localizer["FirstName"]</label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>@Localizer["LastName"]</label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>@Localizer["Email"]</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>@Localizer["Password"]</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>@Localizer["ConfirmPassword"]</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>@Localizer["Role"]</label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" name="Input.Role" value="Profissionais" class="form-check-input" />@Localizer["Professional"]
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" name="Input.Role" value="Pacientes" class="form-check-input" />@Localizer["Patient"]
                    </label>
                </div>
                <div class="form-group">
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
                <div class="col-md-12 input-group-btn align-center">
                    <button type="submit" class="btn btn-primary btn-form display-4">@Localizer["Register"]</button>
                </div>
            </form>
        </div>
        @*<div class="col-md-6 col-md-offset-2">
                <section>
                    <h4>@Localizer["TitleUseAnother"]</h4>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>*@
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
