@model RIAT.DAL.Entity.Models.SintomaDoencaHistoriaclinica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SintomaDoencaHistoriaclinica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SidhCdPeso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SidhCdPeso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DohcIdDoencaHistoriaClinicaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DohcIdDoencaHistoriaClinicaNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAtendimentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAtendimentoNavigation.AtenStAgendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SintIdSintomaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SintIdSintomaNavigation.SintCodSintoma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
